<#@ template language="c#" hostspecific="true" #>
<#@ output extension=".config" #>
<#@ parameter type="System.String" name="TestAdapterFlavor" #>
<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
<# if (TestAdapterFlavor == "GTA") { #>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
<# } else if (TestAdapterFlavor == "TAfGT") { #>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
<# } #>
    </startup>
</configuration>
