<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <GoogleTestAdapterSettings>
    <SolutionSettings>
      <Settings>
        <ShuffleTests>true</ShuffleTests>
        <NrOfTestRepetitions>3</NrOfTestRepetitions>
        <BatchForTestTeardown>$(SolutionDir)Tests\Returns0.bat</BatchForTestTeardown>
        <DebugMode>true</DebugMode>
      </Settings>
    </SolutionSettings>
    <ProjectSettings>
      <Settings ProjectRegex=".*\\CrashingTests_gta\.exe">
        <ShuffleTestsSeed>3</ShuffleTestsSeed>
      </Settings>
      <Settings ProjectRegex=".*\\Tests_gta\.exe">
        <ShuffleTestsSeed>4</ShuffleTestsSeed>
      </Settings>
    </ProjectSettings>
  </GoogleTestAdapterSettings>
</RunSettings>