<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<GoogleTestAdapter>
		<AdditionalTestExecutionParam>-testdirectory=$(TestDir)</AdditionalTestExecutionParam>
		<BatchForTestSetup>Tests\Returns0.bat</BatchForTestSetup>
		<BatchForTestTeardown>Tests\Returns1.bat</BatchForTestTeardown>
		<TestDiscoveryRegex>.*Tests.*_gta.exe</TestDiscoveryRegex>
		<WorkingDir>$(SolutionDir)</WorkingDir>
	</GoogleTestAdapter>
</RunSettings>