<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<GoogleTestAdapter xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<AdditionalTestExecutionParam>-testdirectory=$(TestDir)</AdditionalTestExecutionParam>
		<BatchForTestSetup>Tests\Returns0.bat</BatchForTestSetup>
		<BatchForTestTeardown>Tests\Returns1.bat</BatchForTestTeardown>
		<BreakOnFailure>false</BreakOnFailure>
		<CatchExceptions>true</CatchExceptions>
		<DebugMode>false</DebugMode>
		<MaxNrOfThreads>4</MaxNrOfThreads>
		<NrOfTestRepetitions>1</NrOfTestRepetitions>
		<ParallelTestExecution>false</ParallelTestExecution>
		<PrintTestOutput>true</PrintTestOutput>
		<ReportWaitPeriod>10</ReportWaitPeriod>
		<RunDisabledTests>false</RunDisabledTests>
		<ShuffleTests>false</ShuffleTests>
		<ShuffleTestsSeed>0</ShuffleTestsSeed>
		<TestDiscoveryRegex>.*Tests.*.exe</TestDiscoveryRegex>
		<PathExtension>C:\fooDir;C:\barDir</PathExtension>
		<TraitsRegexesAfter />
		<TraitsRegexesBefore />
		<TestNameSeparator />
	</GoogleTestAdapter>
</RunSettings>