<#@ template debug="true" hostspecific="true" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ assembly name="$(t4_tests_common)" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="GoogleTestAdapter.Tests.Common.CodeGeneration" #>
<#@ output extension=".cs" #>
using Microsoft.VisualStudio.TestTools.UnitTesting;
using GoogleTestAdapter.Tests.Common;
using static GoogleTestAdapter.Tests.Common.TestMetadata.TestCategories;

namespace GoogleTestAdapter.VsPackage
{
	[TestClass]
	public class ConsoleDllTests : AbstractConsoleTests
	{
<#
//	System.Diagnostics.Debugger.Launch();

	var csvFile = Host.ResolvePath("GTA_Console.csv");
	var reader = new CsvTestcaseReader(csvFile);
	var testCases = reader.GetObjects();

	foreach (var testCase in testCases)
	{
#>

		[TestMethod <#= testCase.Ignore ? ", Ignore" : "" #>]
        [TestCategory(EndToEnd)]
		public void <#= testCase.MethodName #>()
		{
			string settingsFile = @"<#= testCase.SettingsFile #>";
			string arguments = @"<#= testCase.ExecutableAndArguments #>";

			RunTestsAndCheckOutput(settingsFile, arguments);
		}
<#	} #>
<# foreach (var executable in testCases.GroupBy(tc => tc.TestExecutable).Select(g => g.First())) { #>

		[TestMethod <#= executable.Ignore ? ", Ignore" : "" #>]
        [TestCategory(EndToEnd)]
		public void List_TestsOf_<#= executable.TestExecutablePlaceholder #>()
		{
			ListTestsOf(@"<#= executable.TestExecutable #>");
		}
<#	} #>

	}
}