<#@ template language="c#" hostspecific="true" #>
<#@ output extension=".config" #>
<#@ parameter type="System.String" name="TestAdapterFlavor" #>
<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.3.1" targetFramework="net45" />
  <package id="FluentAssertions" version="5.6.0" targetFramework="net45" />
  <package id="FluentAssertions.Analyzers" version="0.11.4" targetFramework="net45" />
  <package id="Moq" version="4.10.1" targetFramework="net45" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net45" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net45" />
<# if (TestAdapterFlavor == "GTA") { #>
  <package id="Microsoft.TestPlatform.ObjectModel" version="11.0.1" targetFramework="net452" />
<# } else if (TestAdapterFlavor == "TAfGT") { #>
  <package id="Microsoft.TestPlatform.ObjectModel" version="15.0.1" targetFramework="net46" />
<# } #>
  <package id="OpenCover" version="4.6.261-rc" targetFramework="net452" />
</packages>