<#@ template language="c#" hostspecific="true" #>
<#@ output extension=".config" #>
<#@ parameter type="System.String" name="TestAdapterFlavor" #>
<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.0.0" targetFramework="net452" />
  <package id="FluentAssertions" version="4.19.0" targetFramework="net452" />
  <package id="Moq" version="4.5.30" targetFramework="net452" />
<# if (TestAdapterFlavor == "GTA") { #>
  <package id="Microsoft.TestPlatform.ObjectModel" version="11.0.0" targetFramework="net452" />
<# } else if (TestAdapterFlavor == "TAfGT") { #>
  <package id="Microsoft.TestPlatform.ObjectModel" version="16.10.0-release-20210330-02" targetFramework="net46" />
<# } #>
  <package id="OpenCover" version="4.7.922" targetFramework="net452" />
</packages>
